.box-white {
  background: white;
  padding: 16px;
  border-bottom: 1px solid #ebedf0;
}

.box-white-full {
  background: white;
  padding: 16px 0px;
  border-bottom: 1px solid #ebedf0;
}

.pointer {
  cursor: pointer;
}
